.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 564px;
  margin: 0 auto;
}

.result-container h1 {
  margin-bottom: 20px;
}

.result-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result-container .form-group {
  margin-bottom: 20px;
  position: relative;
}

.result-container .form-group input,
.result-container .form-group select {
  border: 1px solid #CCCCCC; 
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  height: 56px;
  padding: 16px;
  margin-top: 10px;
}

.react-select__control {
  border: 1px solid #CCCCCC;
  border-radius: 8px !important;
  box-sizing: border-box;
  height: 56px;
  margin-top: 10px;
  width: 100%;
}

.css-1u9des2-indicatorSeparator{ 
  background-color: white;
}
.react-select__menu {
  background-color: #4aaa9a;
  color: rgb(0, 0, 0);
}

.react-select__option--is-focused {
  background-color: #4aaa9a !important;
}

.react-select__option--is-selected {
  background-color: #4aaa9a !important;
}

.result-container .form-group .input-error .react-select__control {
  border-color: red !important;
}

.result-container .form-group .input-error {
  border-color: red;
}

.result-container .form-group p {
  color: #EB5757;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.result-container .form-group .error-icon {
  position: absolute;
  right: 2%;
  top: 55%;
  transform: translateY(-50%);
  color: #EB5757;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.date-section{
  color: #343744;
}

.time-section{
  color: #798BA3;
}

.result-container .form-group button {
  padding: 10px 20px;
  border: #343744 1px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 20%;
  background-color: #FFFFFF;
  color: #343744;
}

.result-container .form-group button[type="submit"] {
  background-color: #4aaa9a;
  color: white;
}

@media (max-width: 600px) {
  .result-container {
    padding: 10px;
  }

  .result-container h1 {
    font-size: 24px;
  }

  .button-group {
    flex-direction: column;
  }

  .result-container .form-group button {
    width: 100%;
    margin-bottom: 10px;
  }

  .result-container .form-group button[type="submit"] {
    margin-bottom: 0;
  }
}
